#homePage {
  background-image: url("../public/homeBackground.jpg");
  background-size: 110%;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: 50% center;
}

@media (max-width: 768px) {
  #homePage {
    background-size: cover;
    background-position: 70% center;
  }
}

@media (min-width: 769px) {
  #homePage {
    background-size: 110%;
  }
}

#homeNav {
  grid-row: span 1;
  grid-row: span 1;
  display: grid;
  place-items: center;
}

#homeIcon {
  color: white;
  width: 70%;
  height: 70%;
  z-index: 8;
}

#homeIcon:hover {
  cursor: pointer;
  color: #CECECE;
}

#homeNav:hover #homeTooltip {
  opacity: 1;
}

#homeNoti {
  color: #C70202;
  position: absolute;
  width: 5%;
  height: 40%;
  top: 10%;
  left: 3.6%;
}

#homeTooltip {
  opacity: 0;
  position: absolute;
  left: 2.7%;
  top: 85%;
  z-index: 10;
}

.homeNavButton {
  display: flex;
  color: white;
  left: -30%;
  position: relative;
  transform: translateX(0) scale(1);
  transition: transform 0.3s ease;
}

.homeNavButton:hover {
  cursor: pointer;
  transform: translateX(0.3vw) scale(1.1);
  transition: transform 0.25s ease-out;
}

.homeNavButton p {
  margin: 1%;
  text-wrap: nowrap;
}

#tbArrow, #vrArrow{
  margin: auto;
  transform: translateX(0) scale(1);
  transition: transform 0.3s ease;
}

#tradeBuilderButton:hover #tbArrow{
  transform: translateX(1vw) scale(1.1);
  transition: transform 0.25s ease-out;
}

#viewRostersButton:hover #vrArrow{
  transform: translateX(1vw);
  transition: transform 0.25s ease-out;
}

.tooltip {
  max-width: 50vw;
  padding: 0.5em;
  background-color: #840000;
  color: white;
  font-size: .8em;
}

@media (max-width: 768px){
  .tooltip {
    max-width: 50vw;
  }
}

@media (min-width: 769px) {
  .tooltip {
    max-width: 30vw;
  }
}

#resetContainer {
  grid-row: span 1;
  grid-column: span 1;
  display: grid;
  justify-items: start;
  align-items: center;
}

#resetContainer:hover #resetTooltip {
  opacity: 1;
}

#resetIcon {
  color: white;
  position: relative;
  width: 70%;
  height: 70%;
  top: 0;
}

#resetIcon:hover {
  cursor: pointer;
  color: #CECECE;
}

#resetTooltip {
  opacity: 0;
  position: absolute;
  top: 85%;
}

.navButtons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: grid;
  grid-template-rows: 9vw;
  grid-template-columns: 9vw 9vw;
}

@media (max-width: 768px) {
  #navButtons {
    grid-template-rows: 20vw;
    grid-template-columns: 20vw 20vw;
  }
}

#rosterPage {
  background-color: #0E418D;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url('../public/rosterBgFilter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#rosterSelectContainer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scoresContainer {
  display: flex;
  flex-direction: row;
  margin: 0 7% 0 7%;
  justify-content: center;
  align-items: center;
  height: 35%;
  width: 100%;
}

.scoreDisplay {
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
}

.barContainer {
  height: 60%;
  width: auto;
  margin: 7% 35% 7% 35%;
  position: relative;
}

.progressBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  background-color: tan;
  transition: 1s ease;
}

.score {
  position: relative;
  height: 20%;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.score h1 {
  font-size: 1em;
}

.scoreType {
  font-size: 0.7em;
  height: 20%;
  display: block;
  max-width: 100%;
  white-space: wrap;
  font-weight: 550;
  font-family: 'montserrat';
}

@media (max-width: 768px) {
  .scoreType {
    font-size: 0.5em;
  }
  .scoreDisplay {
    width: 16%;
  }
}

#tradePage {
  background-image: url('../public/tradeBgWithShadow.webp');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.headerArrow {
  display: block;
  margin: 0 -4% 0 -1%;
  color: #6184BD;
  height: 50px;
  width: 50px;
  padding: 0;
}

@media (min-width: 1440px) {
  #tradePage {
    background-size: 150%;
  }

  .headerArrow {
    margin-right: -2%;
  }
}

.banner {
  flex: 1;
  margin-bottom: -70px;
  background-color: #98002e;
  box-shadow: 0px 20px 50px -20px black, inset 0px -20px 200px -70px black;
  margin-left: 0.2%;
  overflow: hidden;
  opacity: 0;
  align-items: center;
  border: 2px solid;
  border-image: url('../public/bordertest.png') stretch;
  border-image-slice: 16 181 27 32;
  filter: saturate(0.7) brightness(1.1);
}

#bannerLeft {
  border-image-slice: 27 424 27 308;
}

.banner img {
  width: 80%;
  margin-top: 10%;
}

#tradeContent {
  width: 96.7%;
  margin-left: 2.8%;
  display: flex;
  flex-direction: row;
  overflow-y: visible;
}

#assetSelectContainer {
  background-color: #9C9B9B;
  position: absolute;
  z-index: 10;
  width: 35%;
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
  overflow-x: hidden;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}

#transact {
  position: relative;
  min-width: 60%;
  display: flex;
  align-items: start;
  flex-direction: column;
  border: 2px solid;
  border-image: url('../public/bordertest.png') stretch;
  border-image-slice: 48 181 27 178;
  background-image: url('../public/transactWindowBg.jpg');
  background-size: cover;
  box-shadow: 0px 20px 50px -20px black, inset 0px 0px 2px 0px black;
  font-weight: 450;
  font-size: 1.2em;
}

.transactHalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.transactHalfHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 5vh;
  width: 100%;
  padding: 1%;
}

.offer {
  padding-bottom: 6vh;
}

#tradeHeader {
  border: 3px solid;
  border-image: url('../public/bordertest.png') stretch;
  border-image-slice: 16 181 27 32;
  margin: 7% 0 .2% 2.8%;
  width: 94.5%;
  left: 0;
  top: 0;
  position: relative;
  text-align: start;
  font-family: 'oswald';
  font-size: 2.2em;
  padding: 0 0 0.6% 2%;
  background-color: white;
}

#tradeHeader::before {
  content: '2024 OFFSEASON TRADE';
  background-image: url('../public/tradeHeaderTextBg.jpg');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  overflow: hidden;
  font-weight: 500;
  letter-spacing: -0.045em;
}

@media (max-width: 768px) {
  #tradeHeader {
    font-size: 1.8em;
  }
}

.asset {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-left: 3vw;
  text-wrap: nowrap;
}

.asset p {
  color: white;
  display: block;
  margin: 0 .5vw 0 .5vw;
  transform: scale(1.5);
}

.asset:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.addPlayer {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-left: 3vw;
  text-wrap: nowrap;
}

.addPlayer:hover {
  cursor: pointer;
  filter: brightness(70%);
}

#submit {
  padding: 0.5% 2% 0.5% 2%;
  background-image: url('../public/transactSubmitBg.jpg');
  background-size: cover;
  position: relative;
  border: solid 3px;
  color: white;
  margin: 0.2% 0 0 2.8%;
  border-image: url('../public/bordertest.png') stretch;
  border-image-slice: 16 591 27 189;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 450;
  box-shadow: 0px 10px 25px -10px black, inset 0px 0px 2px 0px black;
  font-size: 1em;
}

#submit:hover {
  cursor: pointer;
  filter: brightness(70%);
  transition: 0.1s ease;
}

#logo {
  position: absolute;
  height: 100px;
  width: 100px;
  border: rgb(33, 48, 97) solid 3px;
  border-radius: 2px;
  right: 10px;
  top: 10px;
}

#logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

#rosterTable {
  height: 40%;
  width: 70%;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 25% 25% 25% 25%;
}

#rosterTable div {
  grid-row: span 1;
  grid-column: span 1;
  font-size: .7em;
  display: grid;
  place-items: center;
  padding: 3%;
  font-weight: 550;
  transition: 1s ease;
}

@media (max-width: 768px) {
  #rosterTable div {
    font-size: .5em;
  }
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;

}